.aimms-widget .ui-button {
    text-transform: uppercase;
}

.tag-button::before {
    content: "\e229";
    position: absolute;
    display: inline-block;
    font-family: aimms-icons;
    font-style: normal;
    font-weight: normal;
    line-height: 2.125rem;
    cursor: pointer;
    color: #fff;
    z-index: 1;
    left: 14px;
    top: 1px;
    font-size: 1.25rem;
  }
  
