:root {
  --secondaryLightest: #ECECFD;
  --secondaryLight: #7883b4;
  --secondary: #4E598C;
  --primaryDark: #FF8C42;
  --primary: #FCAF58;
  --primaryLight: #F9C784;

  --bg_app-logo: 15px 50% / 50px 50px no-repeat url(/app-resources/resources/images/forecast.png);
  --spacing_app-logo_width: 60px;

  --color_bg_app-header: var(--color_bg_widget-canvas);
  --color_text_app-header: var(--color_text_default);
  --color_text_app-header_hover: #000a22;
  --color_text_app-header-menu: #edeff2;
  --color_text_app-header-menu_hover: #f5f6fa;
  --color_text_app-header-menu-divider: #c6c8cc;
  --color_border_app-header-divider: var(--color_border-divider_themed);
  --color_bg_app-canvas: #e1e2e6;
  --color_bg_widget-canvas: #fff;
  --color_error: #ff545c;
  --color_validated-correct: #00d400;
  --color_border-divider_light: #edeff2;
  --color_border-divider_medium: #c6c8cc;
  --color_border-divider_dark: #a0a4ad;
  --color_border-divider_themed: var(--secondary);
  --color_bg_busy-veil: rgba(80,87,103,0.6);
  --box-shadow_small: 0 0.0625rem 0.3125rem 0 rgba(0,0,0,0.3);
  --box-shadow_medium: 0 0.1875rem 0.625rem rgba(0,0,0,0.15);
  --box-shadow_large: 0 0.125rem 1.25rem 0 rgba(0,0,0,0.2);
  --box-shadow_none: none;
  --box-shadow_initial: initial;
  --color_text_default: #505767;
  --color_text_hover: #000;
  --color_text_inverted: #fff;
  --color_text_inverted_hover: #edeff2;
  --color_text_high-contrast: #000;
  --color_text_edit-select-link: var(--secondary);
  --color_text_edit-select-link_unobtrusive: #069;
  --color_text_edit-select-link_hover: var(--primary);
  --color_text_edit-select-link_active: rgba(0,75,255,0.5);
  --color_text_edit-select-link_inverted: #fff;
  --color_bg_edit-select-link_inverted: var(--secondary);
  --color_text_edit-select-link_inverted_hover: #fff;
  --color_bg_edit-select-link_inverted_hover: #069;
  --color_text_edit-select-link_inverted_active: #fff;
  --color_bg_edit-select-link_inverted_active: rgba(0,75,255,0.5);
  --color_text_disabled: #c6c8cc;
  --color_text_disabled_hover: #c6c8cc;
  --color_text_unobtrusive: #d4d6d9;
  --border-radius_buttons: 0.1875rem;
  --color_bg_button_primary: var(--secondary);
  --color_text_button_primary: #fff;
  --border_button_primary: none;
  --color_bg_button_primary_hover: var(--secondaryLight);
  --color_text_button_primary_hover: #fff;
  --border_button_primary_hover: none;
  --color_bg_button_primary_active: rgba(0,75,255,0.5);
  --color_text_button_primary_active: hsla(0,0%,100%,0.5);
  --border_button_primary_active: none;
  --color_bg_button_secondary: #fff;
  --color_text_button_secondary: var(--secondary);
  --border_button_secondary: 1px solid var(--secondary);
  --color_bg_button_secondary_hover: #edeff2;
  --color_text_button_secondary_hover: var(--primary);
  --border_button_secondary_hover: 1px solid var(--primary);
  --color_bg_button_secondary_active: hsla(0,0%,100%,0.5);
  --color_text_button_secondary_active: rgba(0,75,255,0.5);
  --border_button_secondary_active: 1px solid rgba(0,75,255,0.5);
  --color_bg_button_disabled: #c6c8cc;
  --color_text_button_disabled: #fff;
  --border_button_disabled: none;
  --color_text_widget-header: #505767;
  --color_bg_widget-header: var(--primaryLight);
  --border_widget-header: 3px solid var(--primaryDark);
  --color_icon_widget-header-actions: #c6c8cc;
  --color_icon_widget-header-actions_hover: #505767;
  --box-shadow_widget: var(--box-shadow_medium);
  --color_text_widget_empty_message: #505767;
  --color_icon_widget_empty_message: #505767;
  --font_primary: "Roboto";
  --font_headers: "Montserrat";
  --font_condensed: "Roboto Condensed";
  --font-size_base: 16px;
  --spacing_base-size: 16px;
  --spacing_grid-gap: var(--spacing_base-size);
  --spacing_grid-gap_classic: 10px;
}